<!DOCTYPE html>
<html lang="en">
  
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <p-toolbar class="header"></p-toolbar> -->
</head>
<body>
  <div class="header">
    <h1>Diagnosis COVID19</h1>
  </div>
  <div class="row" style="margin: 20px;">
    <div class="col">
      <div class="container" style="overflow: hidden; text-align: center;" >
        
          <p-image *ngIf="show_img != null" [src]="show_img" alt="Image" width="500" ></p-image>
      </div>
      <div style="text-align: center;">
        <!-- <p-fileUpload name="myfile[]" url="./upload.php"></p-fileUpload> -->
        <p-fileUpload name="myfile[]" (onSelect)="myUploader($event)" [customUpload]="true" (uploadHandler)="getImage()">
          
        </p-fileUpload>

        <!-- <div style="text-align: center;font-size: large;"><span>{{result}}</span></div> -->
        <h1><p class="text-info" style="font-size: 70;"><span>Predict that..{{result}}</span></p></h1>

      </div>
     </div>

    <div>
      
    </div>
  </div>
  
</body>
</html>



 



<!-- <p-fileUpload name="myfile[]" url="./upload.php" [multiple]="t"></p-fileUpload> -->